/* GENERAL */
@font-face {
    font-family: "Make the best";
    src: url("Make the Best - Personal Use.otf")
  }
:root{
    --white:#F2F3F7;
    --grey:#B9B6B6;
    --black:#25283D;
    --blue: #3AB9B3;
    --pink:#D81E5B;
    --light-pink: #FDEDF2;
    box-sizing: border-box;
}

*{
    text-align: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    line-height: 1.5;
    list-style-type: none;
}


html{
    height: 90%;
    /* width: 95%; */
}

body {
    height: 100%;
    width: 100%;
    background-color:var(--blue);
    margin:0px auto;
}

h1 {
    color: var(--white);
    font-size: 100px;
    font-family: "Make the best";
    font-weight: lighter;
    line-height: 1;
    margin: 50px auto 0 auto;
}

h2 {
    color:var(--black);
    font-size: 30px;
    font-family: "Make the best";
    font-weight: lighter;
    text-decoration: underline;
    line-height: 1;
    margin-top:0;
}

form{
    display: inline-block;
    vertical-align: middle;  
    line-height: 1;
    font-size:smaller;
}

ol {
    padding:0;
}
/*INTRO*/
button, #n {
    background-color: var(--white);
    padding: 15px;
    color: var(--black);
    border-radius: 5px;
    border : none;
}



/*MAIN BOX*/
#biggerbox{
    /* TODO: Resoudre le problème de taille */
    min-height: calc(70% - 150px);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: var(--white);
    margin: 10px auto ;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


/* Buttons*/
/* TODO: Change buttons size, the are too big on big screens. Make it responsive */
#prev_btn, #restart_btn{
    background-color: var(--light-pink);
    color: var(--black);
    width: 45%;
} 


#next_btn, #validate_btn,  #share_btn{
    background-color: var(--pink);
    vertical-align: bottom;
    color: var(--white);
    width: 45%;
} 

#start_btn:hover{
    background-color: var(--pink);
    color: var(--white);
    font-weight: bold;
    position:static bottom;
}
#prev_btn:hover, #next_btn:hover, #validate_btn:hover, #results .btn:hover{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
} 

button:hover, .saveOrDeleteButtons:hover{
    cursor: pointer;
}

#results .btn{margin-top: 2em;}
.saveOrDeleteButtons{
    width: 25px;
    height:25px;
    padding: 0;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; 
    border: none;
}

#buttons{margin-top: 2em;}

/*Number of participants*/
/* TODO:increase it lisibility */
/* TODO:center vertically */
.draw{
    min-height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#n{
    color:var(--pink);
    margin:auto;
    font-size: large;
    border: var(--grey) 2px solid;
}

/*Name inputs*/
.participantName_input{
    margin : 15px 8px;
    background-color: var(--white);
    text-align: center;
    outline: none;
    border:none;
	border-bottom: solid 1px var(--black);
    color:var(--pink);
    caret-color:var(--black);
    font-weight: bold;
    font-size: large;
}

.participantName_input::placeholder{
    font-weight: normal;
    font-size: small;
}
/* Participants' rules*/
/*TODO: Make it pretty! */

.participantImage{
    height:max-content;
    width:auto;
    display:inline-block;
    margin: 5px;
    padding: 10px ;
    border-radius: 20px;
    background-color: var(--grey);
    color:var(--black);
    border-width: 1px;
}

.participantImage:hover{cursor:pointer;
background-color: var(--blue);
color: var(--white);
}


.participantImages_block{
    margin-bottom: 20px;
    display:block;
    min-height: 26px;
}

.rulesBlock{
    min-height: 60px;
    margin: 5px auto;
    /* display:flex-start; */
    background-color: var(--white);
    border-radius: 5px;
    /* border: #17252A solid 1px; */
    padding: 5px auto 10px auto;
}

.rulesBlock li{ margin:0.5em auto}

.currentRule{
    display:grid;
    grid-template-columns: [txt] 90% [btn] 10%;
    text-align: center;
    height: 40px;
}

.ruleText{
    grid-column: txt;
    display: inline-block;
    /* display: flex; */
    justify-content: start;
    vertical-align: bottom;
    margin:1em;
}

.ruleText#text{
    display: inline-block;
    align-self: flex-end;}

.ruleText [class*="participant"]{
    display: inline-block;
    /* align-self: flex-end; */
    font-weight: bold;
    min-width: 50px;
    height: 20px;
    padding:0 1em 0.25em 1em;
    border-bottom: var(--black) 1px solid;
    margin: 0 3px;
}

.ruleValidation{
    grid-column: btn;
    align-self: center;
}

.selected{
    background-color: var(--blue);
    color:var(--white);
    font-weight: bold;
}

.savedRules{
    display:inline-table;
}

#reciprocal{
    border-bottom: --black solid 3px;
}

/* Results */
#results{align-self: stretch;}


@media only screen and (max-width: 768px){
    h1{font-size: 50px;}
}

